﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Real Time Notif Push";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Npw Push Messages</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" id="jwt" placeholder="JWT">
                    </div>
                    <button id="connect" class="btn btn-primary">Connect</button>
                    <hr />
                    <ul class="list-group" id="messages">
                    </ul>
                </div>
            </div>
        </div>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
